.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
  color: #000 !important;
  font-weight: 700;
}
.css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked{
  color: #898888 !important;
}
.css-vqmohf-MuiButtonBase-root-MuiRadio-root{
  padding: 3px !important;
  padding-left: 10px !important;
  padding-right: 14px !important;
}